*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


#prev, #next{
    display: none;
    margin: auto;
    margin-bottom :20px;
    width: 150px;
}

#search-btn{
    margin-top: 20px;
    width: 100px;
}

.icon{
    height: 20px;
    width: 20px;
}

body{
    /* background: linear-gradient(#e66465, #9198e5); */
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* border: 2px solid black; */
}

#label{
    font-size: 20px;
    font-weight: bold;
}

#container{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    /* min-height: 80vh; */
    justify-content: center;
    padding: 50px 0;
}

.pg_no{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.img-head{
    color: rgb(22, 54, 151);
}

.txt-in{
    width: 50%;
    border-radius: 5px;
}

#spinner{
    display: flex;
    justify-content: center;
}

.img-element{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* object-fit: cover; */
    height: 60vh;
    box-shadow: 0 4px 3px black;
}
.img-element:hover{
    display: flex;
    flex-direction: column;
    width: 30%;
    opacity: 0.8;
    height: 60vh;
    box-shadow: 0 4px 3px black;

}

.img-element a{
   text-decoration: none;
   margin-top: 20px;
   color: black;
   text-align: center;
}

.image{
    width: 100%;
    height: 80%;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 @media (max-width:758px) {
    .img-element{
        width: 40%;
        height: 70vh;
    }

    
 }

 @media (max-width:450px) {
    .img-element{
        width: 100%;
        height: 70vh;
    }
 }